<h1>Listing menu_items for <%= @menu.name %></h1>

<table>
  <tr>
    <th>Menu</th>
    <th>Food</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_items.each do |menu_item| %>
  <tr>
    <td><%= menu_item.menu.name %></td>
    <td><%= menu_item.food.name %></td>
    <td><%= number_to_currency(menu_item.price) %></td>
    <td><%# link_to 'Show', menu_menu_item_path %>
  <%= link_to "Edit", edit_menu_menu_item_path(menu_item.menu,menu_item) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu item', new_menu_menu_item_path %>
