<p id="notice"><%= notice %></p>

<p>
  <b>Menu:  <%= @menu.name %></b>
</p>

<p>
  <b>Food:</b>
  <%= @menu_item.food.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@menu_item.price) %>
</p>


<%= link_to "Edit", edit_menu_menu_item_path(@menu_item.menu,@menu_item) %></td>
 |
<%= link_to 'Back', menu_menu_items_path %>
