<p id="notice"><%= notice %></p>

<p>
  <b>Menu:</b>
  <%= @menu_item.menu_id %>
</p>

<p>
  <b>Food:</b>
  <%= @menu_item.food_id %>
</p>

<p>
  <b>Price:</b>
  <%= @menu_item.price %>
</p>


<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
