<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @eatery.name %><br/>
	<h2>plot</h2>
	<%= @eatery.permalink %>
</p>
<p>
</p>

<%= button_to "Destroy", eatery_path(@eatery), :confirm => "Are you sure?", :method => :delete %>
<p>
	<%= link_to 'Edit', edit_eatery_path(@eatery) %> |
	<%= link_to 'Menus', eatery_menus_path(@eatery) %> |

	<%= link_to 'Back to Eateries List', eateries_path %>
</p>